body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.c_login_logo_container {
    text-align: center;
}

.c_login_logo {
    vertical-align: middle;
    text-align: center;
    margin: 15px 0;
}

.c_login_bottom {
    font-size: 12px;
    text-align: initial;
    margin-bottom: 5px;
    margin-top: 10px;
}

.c_login_bottom a {
    color: black;
    opacity: 0.8;
}

.c_login_toregister_container {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.c_login_forgot_container {
    width: 45%;
    text-align: right;
    display: inline-block;
}